{%extends 'eshop/basic.html' %}
{%block title%}About Us {%endblock%}
{%block body%} 
    <div class="container max-w-sm my-4">
      <h2>About Us</h2>
      <p>We are E-shop, here to make you delighted with newest collection of fashion,Accesories,clothing and much more.
        You are at the biggest online colletion of items provided by E-shop . We aim to deliver you with the best
        quality of products and keep you in newest trends.You can enjoy shopping at E-shop in a unique way like never
        experienced before.We want to add values to peoples lives to every extent possible.Thank You. </p>
    </div>
    {% endblock%}