<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact Us</a>
  </li> <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      Product Categories
    </a>
    #myDIV {
        margin: auto;
        border: 1px solid black;
        width: 200px;
        height: 100px;
        background-color: coral;
        color: white;
        animation: mymove 1s 1;
      }
      @keyframes mymove {
        50% {transform: rotate(180deg);}
      }      