{% extends 'eshop/basic.html'%}
{%block title%} E-Shop{%endblock%}
{% block nav%}<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/index">Products</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about">About Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contact">Contact Us</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    Product Categories
  </a>{% endblock%}
  {%block body%}
  <div class="alert alert-primary" role="alert">
    Welcome to E-Shop Home Page!
  </div>
  {% for cat in procat %}
  <h2 class="mx-5 my-3" style="color: rgb(104, 136, 171);">Category:{{cat.category_name}}</h2>
  <div class="d-flex align-content-start mx-5 my-2 overflow-auto">
    
    {% for pro in allpro %}
    {% if pro.product_cat == cat.category_name %}
    <div class="card mx-1 px-1 py-1 w-50 p-3" style="max-width: 18rem; min-width: 15rem; max-height: fit-content; ">
      <img src='/media/{{pro.product_image}}' class="card-img-top" style="max-height: 15em; "
        alt="{{ pro.product_name }}">
      <div class="card-body mx-1 px-1 py-1">
        <h5 class="card-title" style="  width: 40ch; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;">
          {{ pro.product_name }}</h5>
        <p class="card-text m-2" style=" width: 20ch; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;">
          {{pro.desc }}</p>
        <p class="card-text m-2" style=" width: 20ch; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;">
          <b> ₹{{ pro.product_price }}</b>
        </p>
        <a href="#" class="btn btn-light bottom-0 start-0 mr-2 my-2" style="background-color: #afcbdf;">Add to Cart</a>
        <a href="#" class="btn btn-light bottom-0 end-0 my-2" style="background-color: #afcbdf;">Buy Now</a>
      </div>
    </div>{% endif %}
    {% endfor %}
    
  </div>
  {% endfor %}


  {% endblock%}